.item {
    width: 60%;
    margin: 5rem auto 0;
    background-color: #f2ebe9;
    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.content {
    text-align: center;
    padding: 2rem;
    margin: 0;
    overflow-wrap: break-word;
    color: #264143
}

.content h2 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 0rem;
}

.heading {
    font-weight: 700;
    margin-bottom: 1rem;
}

.content p:not(.heading) {
    margin: 0 0 20px;
    font-style: italic;
}

.content hr {
    width: 100px;
    border: 2px solid #e99f4c;
    margin-bottom: 2.5rem;
}

.flex {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    margin: auto;
}

.actions {
    padding-top: 0;
    padding-bottom: 3.5rem;
    text-align: center;
}

.actions button {
    font: inherit;
    cursor: pointer;
    color: #264143;
    border: 1px solid #264143;
    background-color: transparent;
    padding: 0.5rem 1.5rem;
    border-radius: 4px;
}

.actions button:hover,
.actions button:active {
    color: #e99f4c;
    background-color: #264143;
}